body, html {

  font-family: 'Raleway';
  margin: 0px;
  padding: 0px;

}
p, h1, h2{
  opacity: 60%;
}

.directory{
  display: flex;
  font-size: 0.8em;
  justify-content: space-around;
  align-items:center;

  margin-top: 3vmin;
  margin-bottom: 10vmin;
  margin-left: 40vmin;
  margin-right: 40vmin;
  /* background-color: grey; */
}
#brand{
  font-size: 2em;
  margin-left: 5vmin;
  margin-right: 5vmin;
}
.titleContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;
  line-height: 2em;

}
h1{
  font-size: 2.5em;
  text-align: center;

}
.titleContainer > p{
  width: 30%;
  text-align: center;
}

.subDirectory{
  display: flex;
  font-size: 1em;
  justify-content: space-around;
  margin-top: 10vmin;
  margin-left:  68vmin;
  margin-right: 68vmin;
  margin-bottom: 3vmin;
}
.subDirectory > a {

  font-size: 0.8em;
}
.photoGalleries{
  display: flex;
  margin-left: 30vmin;
  margin-right: 30vmin;
  justify-content: space-around;

}

.items{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.8em;

}
h2{
  font-size: 1.2em;
  margin-bottom: 0.5vmin;
  margin-top: 2vmin;
}

.items > img{
  margin-left: : 0.1vmin;
  margin-right: 0.1vmin;
}
.items > p {
  margin: 0.5vmin;
}

.items + .items{
  margin-bottom: 4vmin;
}

a:hover{
  text-decoration: underline;
  
}
